In [1]:
import pandas as pd
df = pd.read_csv("https://hastie.su.domains/StatLearnSparsity_files/DATA/crime.txt", sep = '\t')
df.columns = ['X1','X2','X3','X4','X5','X6','X7']
df.head()

    X1   X2  X3  X4  X5  X6  X7
0  494  213  32  72  11  43  18
1  643  347  57  70  18  16  16
2  341  565  31  71  11  25  19
3  773  327  67  72   9  29  24
4  603  260  25  68   8  32  15